
.MobileMenu_categories{
    text-decoration: none;
    font-size: var(--md);
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;
    list-style: none;
    width: 90%;
    border-top: 1px solid var(--very-light-pink);
    padding-top: 10px;  
}
